.product-card {
  width: 250px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
}

.product-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.quantity-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 5px;
}

.quantity-btn {
  background-color: rgb(119, 126, 190);
  border: none;
  padding: 5px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 4px;
}

.quantity-box {
  width: 30px;
  font-size: 12px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 3px;
}

.cart-btn {
  background-color: transparent;
  border: none;
  font-size: larger;
  cursor: pointer;
  padding: 4px;
}

.cart-btn:disabled {
  color: #0000005c;
  cursor: default;
}

.quantity-btn:disabled {
  background: rgb(153, 153, 153);
  cursor: default;
}

.product-card.compact {
  width: 130px;
  padding: 8px;
  font-size: 12px;
}

.product-card.compact img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.product-card.compact .product-title,
.product-card.compact .product-stock {
  display: none;
}

.product-card.compact .product-price {
  font-size: 14px;
  margin-bottom: 5px;
}

.product-card.compact .quantity-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 5px;
}

.product-card.compact .quantity-btn {
  background-color: rgb(119, 126, 190);
  border: none;
  padding: 5px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 4px;
}

.product-card.compact .quantity-box {
  width: 30px;
  font-size: 12px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 3px;
}

.product-card.compact .cart-btn {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 4px;
}

.product-card.compact .cart-btn:disabled {
  color: #0000005c;
}

.product-card.compact .quantity-btn:disabled {
  background: rgb(153, 153, 153);
}