.product-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  
  .product-image {
    width: 100%;
    max-width: 150px;
    height: 150px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  

  @media (max-width: 600px) {
    .product-image {
      max-width: 100%;
      height: auto;
    }
  }
  